<!DOCTYPE html>
<html>
<head>
	<title>主结构</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
　　<link rel="stylesheet" href="css/*.css" type="text/css">
</head>
<body>
	
	<!-- 主内容开始 S-->
    <h3>主结构说明</h3>
    <dl>
    	<dt>meta设置部分</dt>
    	<dd>
    		<ul>
		        <li>viewport设置为设置稿的宽度此处为640，禁用缩放</li>
		        <li>apple-mobile-web-app-capable：当网站添加到主屏幕快速启动方式，可隐藏地址栏，仅针对ios的safari</li>
		        <li>apple-mobile-web-app-status-bar-style：将网站添加到主屏幕快速启动方式，仅针对ios的safari顶端状态条的样式</li>
		        <li>telephone=no：禁用自动识别手机号</li>
		        <li>email=no：禁用自动识别邮箱</li>
		    </ul>
    	</dd>
    	<dt>样式JS引入</dt>
    	<dd>
    		<ul>
		        <li>head部分link方式引入样式</li>
		        <li>body尾部script引入JS</li>
		    </ul>
    	</dd>
    </dl>
    <!-- 主内容开始 E-->

　　<script type="text/javascript" src="js/*.js"></script>
</body>
</html>